header {
    display: grid;
    grid-template-columns: 1fr auto auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; 
}

.container_produto_destaque {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.barra-pesquisa {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}


.menu {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.menu li {  
    display: flex; 
    align-items: center; 
    flex-wrap: wrap;
}

.menu li a {
    display: flex; 
    align-items: center; 
    flex-direction:column;
    flex-wrap: wrap;
}

.sub_menu {
    display: flex;
    justify-content: space-around; 
}

.sub_menu_nomes {
    display: flex;
    justify-content: space-around; 
}

.sub_menu_nomes li a {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.apresentacao {
    display:flex; 
    justify-content: center ;
}

.apresentacao__conteudo__titulo {
    justify-self: start;
    /* flex: 1; */
    display: flex;
    justify-content: flex-start ;
}

.container_produto {  
    display: flex;
    flex-wrap: wrap; 
    gap: 20px;
    justify-content: center; 
    align-items: flex-start; 
} 

.produto_destaque {
display: flex;   
flex-direction: column;
align-items: center;
text-align: center; 
}

.produto-imagem-destaque {
    display: flex;
    justify-content: flex-start;
    
}
.frase-destaque {
    display: flex;
    flex-wrap: wrap; 
    justify-content: flex-end; 
} 

 .container_produto_destaque{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    display: flex; 
     flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.frase_destaque{
    display: flex;
    flex-wrap: wrap;
}

.produto_destaque{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.produto_imagem_destaque{
    display: flex;
    flex-wrap: wrap;
}

.botao_destaque {
    display: flex;
    justify-self: center;
    /* justify-content: center; */
   
}

.container_lista_produtos { 
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.descricao-produto {
    display: flex;
    flex-wrap: wrap;
}
.produtodoce {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.produto-imagem {
    display: flex;
}

.botao {
    display: flex;
    gap: 10px;
    justify-content: space-between; 
    justify-content: center;
}

footer {
    display: flex;
    justify-content: space-around;
}


   @media screen and (max-width: 768px) {

    header {
        display: block;
        flex-direction: row;
        align-items: flex-start; 
    
    }

    .container_produto_destaque{
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        justify-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center; 
    }
    .produto-imagem-destaque{
        display: block;
        align-items: center; 

    }

    .logotipo {
        display:none;
    }
    
   .barra-pesquisa {
    display: flex;
    align-items: center;
   }
    
    .menu {
        display: flex;
        flex-wrap: wrap;
        justify-content:space-evenly;
    }
    
    .sub_menu {
        display: flex;
        flex-wrap: wrap;   
    }

    .sub_menu_nomes {
        display: flex;
        flex-wrap: wrap;  
        align-items: center;
    }

    .frase_destaque {
        display: flex;
        flex-wrap: wrap;
    }

    .produto_destaque{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .produto_imagem_destaque{
        display: flex;
    }
    
    .botao_destaque {
        display: flex;
        justify-content: center;
       
    }
    
    .container_produto {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    
     .produto_destaque {
        flex-direction: column;
        flex-wrap: wrap;
    }
    .botão__destaque {
      flex-wrap: wrap; 
      flex-direction: row;
      align-items: flex-start; 
   
 }
 footer {
        display: flex;
        flex-direction: column;
        align-items: center;   
 }
} 


   