body,ul,li, p {
    margin:0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
    font-family: Arial;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}
header {
    background-color: #ca6391fe;
    padding: 5px;
    width: 100%;
}

.logotipo {
    width: 60px; 
    height: auto; 
    border: none 
    
}

.barra-pesquisa input[type=text]{
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    height: auto;

}

.barra-pesquisa button {
    padding: 10px 20px;
    background-color: #c03e74;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: auto;
}

.menu {
    list-style-type: none; 
    padding: 10px;
    margin: 8px;
    display: flex; 
}

.menu li {
    margin-right: 20; 
    
}

.menu li:last-child {
    margin-right: 0; 
}

.menu li a {
    text-decoration: none; 
    color: #fff; 
    font-size: 16px; 
    font-weight: bold; 
}

.menu li a:hover {
    color: #666;
}

.menu li a .material-symbols-outlined {
    font-family: "Material Icons"; 
    font-size: 25px;
    margin-right: 10px; 
}

.sub-barra-pesquisa {
    display: none;
}

.sub_menu {
    padding: 8px;
  

}

.sub_menu_nomes {
    list-style: none; 
    margin: 0; 
    padding: 0;  
}

.sub_menu_nomes li {
    margin: 0 10px; 
}

.sub_menu_nomes li a {
    text-decoration: none; 
    color: #333; 
    display: flex;
    align-items: center; 
    margin: 15px;
}

.sub_menu_nomes li a span {
    margin-right: 5px; 
}

.apresentacao {
    margin: 30px;
}

.apresentacao__conteudo__titulo {
    max-width: 900px;
}

.container_produto_destaque {
    width: auto;
    padding: auto; 
    box-sizing: border-box;
    border: auto;
    margin-top: 20px;

}

.produto_destaque {
    margin: 10px 20px;
    padding: auto;
    border: auto;
}

.produto_imagem_destaque {
    max-width: 600px;
    max-height: 300px;
    object-fit: cover;
    border-radius: 5px;
    margin: 0 auto 10px;
    margin-bottom: 10px;
    padding: auto;
    border: auto;
    
}

.frase_destaque {
     margin-top: 10px;
}

.botao_destaque {
    /* width: -350px;  */
    margin: 10px;
    padding: 10px 20px;
    background-color: #c03e74;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.container_lista_produtos { 
    margin-top: 50px;
}

.produtodoce {
    margin: 10px 20px;
}

.produto-imagem {
    max-width: 300px;
    max-height: 200px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
}
.descricao-produto {

    margin-top: 10px; 
}

.preco-produto {
    font-weight: bold;
    margin: 10px;
}
.botao__comprar {
    padding: 10px 36px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    
}

.botao__adicionar{
    padding: 10px 42px;
    background-color: #c03e74;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    
}

.botao button:hover {
    background-color: #45a049;
}

footer {
    padding: 30px;
    background-color: #ca6391fe;
    color: white;
    text-align: center;
    margin-top:90px;
    
  }

  footer p {
    margin: 0; 
    padding: 0; 
    font-size: 16px; 
}

@media only screen and (max-width: 768px) {
    header {
        width: 100%;
        background-color: #ca6391fe;
        color: #370e0e00;
    }
   
    .logotipo {
        display: none;
    }

    .barra-pesquisa input[type=text]{
        padding: 10px 60px;
        margin: 0;
        margin-top: 20px;
    }
    
    .barra-pesquisa button { 
    display: none;

    }

    .menu {
        width: 100%;
        float: none;
        /* padding: 8px;
        margin: 4px; */
    }

    .menu li {
        
        margin-right: 10px;
    }

    .menu li a {
        
        font-size: 14px;
    }

    .menu li a .material-symbols-outlined {
        font-size: 20px;
    }

   .sub_menu {
    width: 100%;
    margin-top: auto;
  
   }

    .sub_menu_nomes li a {
        display: flex;
        margin: 10px;
    }

    .apresentacao {
        margin: 20px;
    }

    .produto_destaque,.produtodoce {
        width: 100%;
        float: none;
        /* margin: 10px; */
    }

    .container_produto_destaque {
        width: 100%;
        float: none;
        /* padding: 5px;  */
    }
    
    .produto_imagem_destaque {
        width: 100%;
        float: none;
    
    }

    .container_lista_produtos {
        width: 100%;
        float: none;
        /* margin-top: 20px; */
    }

    .preco-produto {
        margin: 5px;
    }

    .botao_destaque, .botao__comprar, .botao__adicionar {
        padding: 8px 24px;
        font-size: 14px;
    }

    footer {
        background-color: #ca6391fe;
        padding: 20px; 
        width: 100%;
    }
    footer div {
        width: 100%;
    }
}