body,ul,li, p {
    margin:0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
    font-family: Arial;
}

a {
    text-decoration: none;
}
header {
    background-color: #ca6391fe;
    color: #370e0e00;
    padding: 10px;
   }
    
    .logotipo {
        width: 60px; /* Largura desejada */
        height: auto; /* Altura automática para manter a proporção */
        border: none /* Exemplo de borda para visualização */
       
    }

    .barra-pesquisa input[type=text]{
        padding: 10px 20px;
        margin-right: 10px;
        border: none;
        border-radius: 5px;
        height: auto;

    }

    .barra-pesquisa button {
        padding: 10px 20px;
        background-color: #c03e74;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        height: auto;
    }


    @media only screen and (max-width: 700px) {
        .barra-pesquisa {
          display: none; /* Esconde a barra de pesquisa */
        }
        .barra-pesquisa input[type=text]{
            padding: 10px 5px;
            margin-right: 5px;
            border: none;
            border-radius: 5px;
            height: auto;
        }
        .menu {
            list-style-type: none; /* Remove os marcadores de lista */
            padding: 4px;
            margin: 4px;
            display: flex; /* Ativa o flex container */
        }
        .menu li {
            margin-right: 5px; /* Espaçamento entre os itens do menu */
           
        }
        .menu li a {
            text-decoration: none; /* Remove sublinhado dos links */
            color: #fff; /* Cor do texto do link */
            font-size: 16px; /* Tamanho da fonte */
            font-weight: bold; /* Negrito */ 
        }
        .menu li a .material-symbols-outlined {
            font-family: "Material Icons"; /* Define a fonte para os ícones */
            font-size: 25px; /* Tamanho dos ícones */
            margin-right: 10px; /* Espaçamento entre o ícone e o texto */
        }
        .produto-imagem-destaque {
    
            max-width: 325px;
            max-height: 127px;
            border-radius: 5px;
            
          }
    }
    .menu {
        list-style-type: none; /* Remove os marcadores de lista */
        padding: 16px;
        margin: 8px;
        display: flex; /* Ativa o flex container */
    }
    
    .menu li {
        margin-right: 20px; /* Espaçamento entre os itens do menu */
       
    }
    
    .menu li:last-child {
        margin-right: 0; /* Remove a margem do último item */
    }
    
    .menu li a {
        text-decoration: none; /* Remove sublinhado dos links */
        color: #fff; /* Cor do texto do link */
        font-size: 16px; /* Tamanho da fonte */
        font-weight: bold; /* Negrito */ 
    }
    
    .menu li a:hover {
        color: #666; /* Cor do texto do link quando passa o mouse */
    }
    
    .menu li a .material-symbols-outlined {
        font-family: "Material Icons"; /* Define a fonte para os ícones */
        font-size: 25px; /* Tamanho dos ícones */
        margin-right: 10px; /* Espaçamento entre o ícone e o texto */
    }

    .sub_menu {
    
        background-color: #f0f0f0; /* Cor de fundo do submenu */
        padding: 20px 10px; /* Espaçamento interno */
    }

    .sub_menu_nomes {
        list-style: none; /* Remove os marcadores de lista */
        margin: 0; /* Remove as margens padrão da lista */
        padding: 0; /* Remove o preenchimento padrão da lista */
    }

    .sub_menu_nomes li {
        margin: 0 10px; /* Adiciona margens aos lados dos itens */
    }

    .sub_menu_nomes li a {
        text-decoration: none; /* Remove o sublinhado dos links */
        color: #333; /* Cor do texto */
        display: flex;
        align-items: center; /* Alinha os itens verticalmente */
        margin: 15px;
    }

    /* Estilo para os ícones */
    .sub_menu_nomes li a span {
        margin-right: 5px; /* Espaçamento entre o ícone e o texto */
    }

    .apresentacao {
        margin: 30px;
    }
    
    .apresentacao__conteudo__titulo {
        max-width: 900px;
    }
    

.container_produto { 
    height: 300px; /* Ajuste conforme necessário */
   padding:20px;
    background-color: #f2f2f2; /* Cor de fundo da caixa */
}
.produto_destaque {
    width: 600px; /* Largura do produto (pode ajustar conforme necessário) */
    padding: 20px; /* Espaçamento interno do produto */
    text-align: center; /* Centraliza o conteúdo dentro do produto */
}

.frase-destaque {
    margin-left: 400px; /* Espaçamento à esquerda da frase */
    margin-top: -200px; /* Remove a margem superior padrão */
    font-size: 18px; /* Tamanho da fonte da frase */
  }

  .botao__destaque {
    margin-left: 400px;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #c03e74;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;

  }
 
  .produto-imagem-destaque {
    
    max-width: 650px;
    max-height: 255px;
    border-radius: 5px;
    
  }
  

.container_lista_produtos { 
    margin-top: 50px;
}

.produtodoce {
    margin: 0 20px;
}

.produto-imagem {
    max-width: 300px;
    max-height: 200px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
}
.descricao-produto {

    margin-top: 10px; /* Adiciona espaço entre a imagem e a descrição do produto */
}

.preco-produto {
    font-weight: bold; /* Adiciona negrito ao preço */
    width: -350px; 
    margin: 10px;
}
.botao__comprar {
    padding: 10px 36px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    
}

.botao__adicionar{
    padding: 10px 42px;
    background-color: #c03e74;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    
}

.botao button:hover {
    background-color: #45a049;
}

@media screen and (max-width: 768px) {
    .container_lista_produtos {
        display: block;
    }
}
footer {
    padding: 10px 36px;
    background-color: #ca6391fe;
    color: white;
    text-align: center;
    margin-top:90px;
    padding: 30px;
  }

  footer p {
    margin: 0; /* Remove a margem padrão dos parágrafos */
    padding: 10px; /* Espaçamento interno */
    font-size: 16px; /* Tamanho da fonte */
}



